In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
age_estimate = pd.read_csv('CSV Files/age_estimate_by_zip.csv')
age_estimate.head()

   Unnamed: 0 group_10yr  population   sex  year    zip
0           0   Under 10        1031  Male  2030  91901
1           1   10 to 19        1454  Male  2030  91901
2           2   20 to 29         929  Male  2030  91901
3           3   30 to 39         926  Male  2030  91901
4           4   40 to 49        1214  Male  2030  91901

In [17]:
age_estimate_grp = age_estimate.groupby(['sex'])
age_estimate_grp.head()

     Unnamed: 0        group_10yr  population     sex  year    zip
0             0          Under 10        1031    Male  2030  91901
1             1          10 to 19        1454    Male  2030  91901
2             2          20 to 29         929    Male  2030  91901
3             3          30 to 39         926    Male  2030  91901
4             4          40 to 49        1214    Male  2030  91901
6             6          Under 10         861  Female  2012  91901
7             7          10 to 19        1236  Female  2012  91901
8             8          20 to 29         912  Female  2012  91901
9             9          30 to 39         818  Female  2012  91901
10           10          40 to 49        1238  Female  2012  91901
26           26  Total Population       17371   Total  2012  91901
47           47  Total Population       17886   Total  2020  91901
68           68  Total Population       19439   Total  2025  91901
83           83  Total Population       20558   Total  2030  91901
104         104  Total Population       21631   Total  2035  91901