In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import gmaps
# Google developer API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [2]:
crime_sd = pd.read_csv('CSV Files/CrimeDataSD.csv')
#pd.options.display.float_format = '{:.0f}'.format
crime_sd = pd.DataFrame(crime_sd.groupby('ZipCode')['agency'].count()).reset_index().rename(columns={'ZipCode': 'zip', 'agency': 'Crimes'})
crime_sd.head()

       zip  Crimes
0      0.0       1
1   9942.0       1
2  10005.0       1
3  90020.0       2
4  90057.0       1

In [3]:
coord_df = pd.read_csv('2018_Gaz_zcta_national copy.csv', sep='\t', dtype = float)
coord_df = coord_df[['GEOID', 'INTPTLAT', 'INTPTLONG']].rename(columns={'GEOID': 'zip', 'INTPTLAT': 'lat', 'INTPTLONG' : 'lng'})
coord_df.head()

     zip        lat        lng
0  601.0  18.180555 -66.749961
1  602.0  18.361945 -67.175597
2  603.0  18.455183 -67.119887
3  606.0  18.158327 -66.932928
4  610.0  18.295366 -67.125135

In [4]:
crime_coord_sd = pd.merge(crime_sd, coord_df, on = 'zip', how= 'inner')
crime_coord_sd.head()

       zip  Crimes        lat         lng
0  10005.0       1  40.706004  -74.008785
1  90020.0       2  34.066379 -118.309870
2  90057.0       1  34.061735 -118.276757
3  90405.0       1  34.011312 -118.469762
4  91203.0       1  34.153338 -118.262974

In [8]:
locations = crime_coord_sd[['lat', 'lng']].astype(float)
crimes = crime_coord_sd[['Crimes']]

c = crimes.Crimes.astype(float)
c.dtypes

dtype('float64')

In [9]:
fig = gmaps.figure(map_type="HYBRID")

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=c, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=.05)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))