In [144]:
import numpy as np
import pandas as pd
from api_keys import api_key
import gmaps

In [145]:
job_data = pd.read_csv("../CSV Files/job_estimate_by_zip.csv")

In [146]:
census_locs = pd.read_csv("../2018_Gaz_zcta_national copy.csv", sep='\t')
census_locs = census_locs.rename(columns={'GEOID':'zip'})
census_locs.columns

Index(['zip', 'ALAND', 'AWATER', 'ALAND_SQMI', 'AWATER_SQMI', 'INTPTLAT',
       'INTPTLONG'],
      dtype='object')

In [147]:
job_locs_df = pd.merge(job_data, census_locs, how='inner')
job_locs_df = job_locs_df.loc[job_locs_df['category']=='Total Jobs']
job_locs_df.head()

,Unnamed: 0,category,jobs,year,zip,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI,INTPTLAT,INTPTLONG
14,14,Total Jobs,4684,2012,91901,231433475,2014390,89.357,0.778,32.808563,-116.710076
29,29,Total Jobs,5329,2020,91901,231433475,2014390,89.357,0.778,32.808563,-116.710076
44,44,Total Jobs,5503,2025,91901,231433475,2014390,89.357,0.778,32.808563,-116.710076
59,59,Total Jobs,5683,2030,91901,231433475,2014390,89.357,0.778,32.808563,-116.710076
74,74,Total Jobs,5906,2035,91901,231433475,2014390,89.357,0.778,32.808563,-116.710076

In [148]:
job_df = job_locs_df.groupby('zip').sum()
job_data_group = job_df.reset_index()
job_data_group = job_data_group[['zip', 'jobs']]
job_data_group

locs_df = job_locs_df.groupby('zip').max()
locs_df = locs_df.reset_index()

job_data = pd.merge(job_data_group, locs_df, how='left', on='zip')
job_data['jobs_x'].sum()

12565996

In [149]:
gmaps.configure(api_key=api_key)

In [150]:
locations = job_data[['INTPTLAT','INTPTLONG']].astype(float)
job_numbers = job_data['jobs_x'].astype(float)

In [151]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=job_numbers, 
                                 dissipating=False,
                                 point_radius = .05)

In [152]:
heat_layer.dissipating = False
#heat_layer.max_intensity = 500000
heat_layer.point_radius = .05

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [153]:
vacancy_rate_data = pd.read_csv("../CSV Files/housing_estimate_by_zip.csv")
vacancy_rate_data = vacancy_rate_data.loc[vacancy_rate_data['year']==2020]
vacancy_rate_data = vacancy_rate_data.loc[vacancy_rate_data['unit_type']=='Total Units']
vacancy_rate_data

,Unnamed: 0,occupied,unit_type,units,unoccupied,vacancy_rate,year,zip
8,8,6348,Total Units,7147,799,0.11180,2020,91901
40,40,5915,Total Units,6161,246,0.03993,2020,91902
71,71,702,Total Units,819,117,0.14286,2020,91905
103,103,1388,Total Units,1415,27,0.01908,2020,91906
135,135,26190,Total Units,27276,1086,0.03982,2020,91910
167,167,24805,Total Units,25317,512,0.02022,2020,91911
199,199,17636,Total Units,18195,559,0.03072,2020,91913
231,231,5202,Total Units,5316,114,0.02144,2020,91914
263,263,11868,Total Units,12202,334,0.02737,2020,91915
295,295,782,Total Units,813,31,0.03813,2020,91916
327,327,326,Total Units,326,0,0.00000,2020,91917
359,359,174,Total Units,179,5,0.02793,2020,91931
391,391,9324,Total Units,10002,678,0.06779,2020,91932
423,423,392,Total Units,450,58,0.12889,2020,91934
455,455,3246,Total Units,3331,85,0.02552,2020,91935
487,487,13041,Total Units,13360,319,0.02388,2020,91941
519,519,17199,Total Units,17985,786,0.04370,2020,91942
551,551,8783,Total Units,9118,335,0.03674,2020,91945
583,583,141,Total Units,253,112,0.44269,2020,91948
615,615,16771,Total Units,17856,1085,0.06076,2020,91950
647,647,750,Total Units,797,47,0.05897,2020,91962
679,679,394,Total Units,393,-1,-0.00254,2020,91963
711,711,18909,Total Units,20143,1234,0.06126,2020,91977
743,743,3003,Total Units,3266,263,0.08053,2020,91978
775,775,56,Total Units,57,1,0.01754,2020,91980
807,807,1853,Total Units,1968,115,0.05843,2020,92003
839,839,2084,Total Units,3312,1228,0.37077,2020,92004
871,871,4542,Total Units,4878,336,0.06888,2020,92007
903,903,12179,Total Units,13184,1005,0.07623,2020,92008
935,935,15525,Total Units,16518,993,0.06012,2020,92009
...,...,...,...,...,...,...,...,...
2663,2663,23334,Total Units,24195,861,0.03559,2020,92115
2695,2695,16702,Total Units,17320,618,0.03568,2020,92116
2727,2727,20465,Total Units,21232,767,0.03612,2020,92117
2759,2759,7443,Total Units,9581,2138,0.22315,2020,92118
2791,2791,9590,Total Units,9773,183,0.01873,2020,92119
2823,2823,13151,Total Units,13605,454,0.03337,2020,92120
2855,2855,1938,Total Units,1955,17,0.00870,2020,92121
2887,2887,21700,Total Units,22863,1163,0.05087,2020,92122
2919,2919,11483,Total Units,12477,994,0.07967,2020,92123
2951,2951,12418,Total Units,12836,418,0.03256,2020,92124
2983,2983,28113,Total Units,29014,901,0.03105,2020,92126
3015,3015,16067,Total Units,16617,550,0.03310,2020,92127
3047,3047,20485,Total Units,21306,821,0.03853,2020,92128
3079,3079,18683,Total Units,19007,324,0.01705,2020,92129
3111,3111,22419,Total Units,23137,718,0.03103,2020,92130
3143,3143,12448,Total Units,12665,217,0.01713,2020,92131
3175,3175,13,Total Units,13,0,0.00000,2020,92134
3207,3207,39,Total Units,54,15,0.27778,2020,92135
3239,3239,0,Total Units,0,0,NaN,2020,92136
3271,3271,10937,Total Units,11330,393,0.03469,2020,92139
3303,3303,7,Total Units,7,0,0.00000,2020,92140
3335,3335,414,Total Units,431,17,0.03944,2020,92145
3367,3367,23786,Total Units,24612,826,0.03356,2020,92154
3399,3399,22,Total Units,32,10,0.31250,2020,92155
3431,3431,0,Total Units,0,0,NaN,2020,92161
3463,3463,7850,Total Units,7993,143,0.01789,2020,92173
3495,3495,0,Total Units,0,0,NaN,2020,92182
3527,3527,0,Total Units,0,0,NaN,2020,92259
3559,3559,201,Total Units,212,11,0.05189,2020,92536
3591,3591,1179,Total Units,1234,55,0.04457,2020,92672

In [154]:
vacancy_loc = pd.merge(vacancy_rate_data, census_locs, on='zip', how='left')
vacancy_loc = vacancy_loc.dropna()
vacancy_loc[vacancy_loc['vacancy_rate'] < 0] = 0

In [155]:
vacancy_locations = vacancy_loc[['INTPTLAT','INTPTLONG']].astype(float)
vacancy_data = vacancy_loc['vacancy_rate']

In [159]:
vacancy_fig = gmaps.figure()

vacancy_layer = gmaps.heatmap_layer(vacancy_locations, weights=vacancy_data, 
                                 dissipating=False,
                                 point_radius = .075)

vacancy_fig.add_layer(vacancy_layer)

vacancy_fig

Figure(layout=FigureLayout(height='420px'))